body {
  font-family: "Exo", sans-serif;
  background-color: violet;
  background: url(img/library.jpg);
}

.contener,
.tasks {
  margin-left: 25%;
}

#error {
  margin-left: 25%;
}

#wrapper button {
  width: 9rem;
  margin-left: 0.5rem;
}

#wrapper input {
  height: 2.2rem;
  border: none;
  border-bottom: 2px solid gray;
  padding-bottom: 0.2rem;
}

#wrapper input:focus {
  outline: none;
  border-color: darkturquoise;
}

hr {
  width: 84%;
}

.deleteBton,
.editBton {
  top: 0;
  right: 0;
  visibility: hidden;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.position-relative:hover .deleteBton {
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0s;
}

.position-relative:hover .editBton {
  visibility: visible;
  transform: translateX(0);
  transition-delay: 0.1s;
}

.editBton {
  margin-right: 9%;
}

@media (max-width: 413px) {
}
